{% if site.main_pages %}
<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-black w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src="{{ "assets/images/avatar.png" | relative_url }}" style="width:100%">
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  {% for item in site.main_pages %}
    {% if item.title %}
    <a class="w3-bar-item w3-button w3-padding-large w3-hover-grey" href="/index.html#{{ item.anchor }}">
      {% if item.anchor == 'about' %}
      <i class="fa fa-user w3-xxlarge"></i>
      {% elsif item.anchor == 'brief_cv' %}
      <i class="fa fa-file w3-xxlarge"></i>
      {% elsif item.anchor == 'research' %}
      <i class="fa fa-search w3-xxlarge"></i>
      {% endif %}
      <p>{{ item.title | escape }}</p>
    </a>
    {% endif %}
  {% endfor %}
</nav>
{% endif %}
