---
layout: default
---

{% for item in site.main_pages %}
  <section id="{{ item.anchor }}">
    <header class="major">
      <h2>{{ item.title }}</h2>
    </header>
    {% if item.header_image %}
      <span class="image main"><img src="{{ "/assets/images/" | append: item.header_image | absolute_url }}" width="400" height="100" alt="" /></span>
    {% endif %}
    {% if item.learn_more %}
      {% assign content = item.content | split: "/split/" %}
      <span id="less">
        {{ content[0] | strip | append: "<span id='dots'>...</span>" | markdownify }}
      </span>
      <span id="more">
        {{ item.content | replace: "/split/", "" | markdownify }}
      </span>
      <ul class="actions">
        <li><a id="learnMore" onclick="myFunction('{{ item.anchor }}')" class="button">Learn More</a></li>
      </ul>
    {% else %}
      {{ item.content | replace: "/split/", "" | markdownify }}
    {% endif %}
  </section>
{% endfor %}
