---
layout: default
---

{% for item in site.main_pages %}
  <section id="{{ item.anchor }}">
    <div class="w3-content w3-justify w3-text-grey w3-padding-large" id="about">
    <h2 class="w3-text-dark-grey">{{ item.title }}</h2>
    <hr style="width:200px" class="w3-dark-gray">
    <!-- {% if item.header_image %} -->
      <!-- <span class="image main"><img src="{{ "/assets/images/" | append: item.header_image | absolute_url }}" width="400" height="100" alt="" /></span> -->
    <!-- {% endif %} -->
    {{ item.content | markdownify }}
    </div>
  </section>
{% endfor %}
